#login,
#signup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form-btn {
  width: 100%;
  margin-top: 1rem;
}

.navbar-nav {
  display: flex;
  align-items: baseline;
}