/* Navigation bar */
.navbar-nav {
  display: flex;
  align-items: baseline;
}

.navbar-brand,
.navbar-nav {
  margin: 0 1rem 0;
}

#globe-icon {
  width: 2rem;
}


/* Footer */
.footer {
  background-color: #212529;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.footer img {
  max-height: 4rem;
}


/* Carousel */
.carousel-item img {
  height: 80vh;
}

#homepageCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-indicators {
  height: 80vh;
  display: flex;
  align-items: center;
  color: #fff;
}

h1 {
  text-align: center;
}

#latest-stories-area {
  padding: 2rem 0;
}

/* #latest-story img {
  width: 25vw;
  height: 25vh;
} */




/* Views */
#login,
#signup,
#tip-update,
#tip-details,
#profile,
#tip-create {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tip-list h1 {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tip-list div {
  justify-content: center;
}

.card-img-top {
  height: 20vh;
}

#form-btn {
  width: 100%;
  margin-top: 1rem;
}

#logout-btn {
  margin: 0;
}

#favourite-button,
#edit-button,
#delete-button {
  display: inline-block;
}

#card-area {
  padding: 0;
}

.card {
  margin: 1rem;
}