<section class="col-8 col-sm-6 col-md-6 col-lg-6 col-xl-8 container" id="tip-create">
  <h2>Share your story</h2>
  <form action="/tips/create" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label> Title:</label>
      <input type="text" name="title" class="form-control" required />
    </div>
    <div class="form-group">
      <label> Country:</label>
      <input type="text" name="country" class="form-control" required />
    </div>
    <div class="form-group">
      <label> City:</label>
      <input type="text" name="city" class="form-control" required />
    </div>
    <div class="form-group">
      <label> Category:</label>
      <select name="category" id="category" class="form-control" multiple>
        <option value="Restaurant">Restaurant</option>
        <option value="Leisure">Leisure</option>
        <option value="Bar">Bar</option>
        <option value="Museum">Museum</option>
        <option value="Sport">Sport</option>
        <option value="Sight-seeing">Sight-seeing</option>
        <option value="Night">Night</option>
      </select>
    </div>

    <div class="form-group">
      <label> Description:</label>
      <textarea name="description" cols="30" rows="10" class="form-control" minlength="50" required></textarea>
    </div>
    <div class="form-group">
      <label class="form-group"> Photos:</label>
      <input type="file" name="story-image" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-outline-dark" id="form-btn"> Create </button>
  </form>
</section>