<h2>Create a tip</h2>

<form action="/create" method="post">
  <label> Country:
    <input type="text" name="country" />
  </label>

  <label> City:
    <input type="text" name="city" />
  </label>

  <label> Category: 
        <select name="category" id="category" multiple>
            <option value=""></option>
        </select>
    </label>

  <label> Description:
    <input type="text" name="description" />
  </label>

  <label> Pictures:
    <input type="text" name="pictures" />
  </label>

  <button type="submit"> Create </button>
</form>